@use 'vars' as v;

/* STARTSIDAN */
//Bakgrund
.wrapper {
  width: 100%;
  height: 100vh;
}

//Textinnehåll med frosted glass-effekt
.content {
  width: 60%;
  min-height: 60vh;
  max-height: 80vh;
  overflow-y: scroll;
  //centrera
  @include v.center(true, true);

  //Styling för rutan
  padding: 1em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.17);
  background-color: rgba(255, 255, 255, 0.1);
  //Blurra
  backdrop-filter: blur(18px);

  //textfärg
  color: white;

  .text {
    width: fit-content;
    margin: 0.5em auto 0;
  }

  //Länkar
  .normal-link {
    color: white;
    text-decoration: 2px dotted underline;

    &:hover {
      font-style: italic;
    }
  }
}

//Navigering
nav {
  font-family: v.$headingfont;
  font-size: 1.2em;

  ul {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.5em;
  }

  a {
    padding: 0 0.1em 0.3em;
    border-radius: 10px;
    color: white;
    position: relative; //För streck efter

    //Streck efter
    &:after {
      content: '';
      width: 0%;
      height: 2px;
      background-color: white;
      position: absolute;
      bottom: 0;
      left: 0;
      @include v.transition; //Transition
    }
    //Bredda så strecket blir synligt
    &:hover:after {
      width: 100%;
    }
    //Nuvarande sida
    &[aria-current='page']:after {
      //Här måste jag tyvärr upprepa mig för man får inte använda extend tillsammans med compound selectors
      content: '';
      height: 2px;
      background-color: white;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
}

//h1
h1 {
  text-align: center;
  margin-top: 2em;
}
//Grid
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
  justify-items: center;
  justify-self: center;
  padding: 1.2em;
  height: 100%;
  margin-top: 1em;

  .grid-box {
    margin: 1em;
    padding-right: 0.5em;

    &:first-child {
      border-right: 1px solid white;
    }
  }
}
